<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <title>ColoringAI</title>
        <link rel="stylesheet" href="/static/css/colorjoe.css">
        <style type="text/css">
        .preview {
          position: relative;
        }
        .hint_work {
          position: absolute;
          left: 0px;
          top: 110px;
          display: none;
        }
        #color-palette{
          position: relative;
          height: 260px;
          width: 300px;
          display: none;
        }
        img{
          position: relative;
          max-width: 512px;
          max-height: 512px;
          min-width: 192px;
          min-height: 192px;
        }
        </style>
    </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <span class="navbar-brand mb-0 h1">ColoringAI</span>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">ホーム <span class="sr-only">(現位置)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <a>・画像ファイルを選択するかドラッグ</a><br>
  <input type="file" id="files" name="files[]" accept='image/*' multiple/>
  <input type="button" id="send" value="着色する！"/><br>
  <div id="preview"></div>
  <div class="hint_work">
    <canvas id="canvas"></canvas>
    <button id="undo">1つ戻す</button>
  </div>
  <div id="color-palette"></div>
  <div id="result">
  {% if raw_img_url %}
    <img src="{{ raw_img_url }}">
  {% endif %}
  {% if color_img_url %}
    <img src="{{ color_img_url }}">
  {% endif %}
  </div>
  <script>
      document.getElementById("files").addEventListener("change", function (e) {
          var file = e.target.files;
          var reader = new FileReader();
          //ファイルが複数読み込まれた際に、1つめを選択
          reader.readAsDataURL(file[0]);
          //ファイルが読み込めたら
          reader.onload = function () {
              var src = reader.result;
              drawCanvas(src);
          };
      }, false);

      function drawCanvas(source) {
          var canvas = document.getElementById('canvas');
          if (canvas.getContext) {
              var context = canvas.getContext('2d');
              var image = new Image();
              image.src = source;
              image.onload = function () {
                var im_w = image.naturalWidth;
                var im_h = image.naturalHeight;
                var wh = im_w/im_h
                if(im_w>512 || im_h>512){
                  if(im_w >= im_h){
                    var im_w = 512;
                    var im_h = im_w/wh;
                  } else{
                    var im_h = 512;
                    var im_w = wh*im_h;
                  }
                }
                $(".hint_work").css("display", "block")
                $("#color-palette").css("display", "block")
                $("#canvas").attr("width",im_w);   //←これだったらおｋだった。　orz
                $("#canvas").attr("height",im_h);
                //context.drawImage(canvas.width, canvas.height);
              };

                $("#preview").empty();
                // .prevewの領域の中にロードした画像を表示するimageタグを追加
                $("#preview").append('<img src="" id="pre"></img>');
                $("#pre").attr({src: image.src});
            }
        }
  </script>
  <script>
    window.onload = function() {
      var canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const lastPosition = { x: null, y: null };
      let isDrag = false;

      // 現在の線の色を保持する変数(デフォルトは黒(#000000)とする)
      let currentColor = '#000000';

      function draw(x, y) {
        if(!isDrag) {
          return;
        }
        context.lineCap = 'round';
        context.lineJoin = 'round';
        context.lineWidth = 3;
        context.strokeStyle = currentColor;
        if (lastPosition.x === null || lastPosition.y === null) {
          context.moveTo(x, y);
        } else {
          context.moveTo(lastPosition.x, lastPosition.y);
        }
        context.lineTo(x, y);
        context.stroke();

        lastPosition.x = x;
        lastPosition.y = y;
      }

      function dragStart(event) {
        context.beginPath();

        isDrag = true;
      }

      function dragEnd(event) {
        context.closePath();
        isDrag = false;
        lastPosition.x = null;
        lastPosition.y = null;
      }

      function initEventHandler() {
        canvas.addEventListener('mousedown', dragStart);
        canvas.addEventListener('mouseup', dragEnd);
        canvas.addEventListener('mouseout', dragEnd);
        canvas.addEventListener('mousemove', (event) => {
          draw(event.layerX, event.layerY);
        });
      }

      // カラーパレットの設置を行う
      function initColorPalette() {
        const joe = colorjoe.rgb('color-palette', currentColor);

        // 'done'イベントは、カラーパレットから色を選択した時に呼ばれるイベント
        // ドキュメント: https://github.com/bebraw/colorjoe#event-handling
        joe.on('done', color => {
          // コールバック関数の引数からcolorオブジェクトを受け取り、
          // このcolorオブジェクト経由で選択した色情報を取得する

          // color.hex()を実行すると '#FF0000' のような形式で色情報を16進数の形式で受け取れる
          // draw関数の手前で定義されている、線の色を保持する変数に代入して色情報を変更する
          currentColor = color.hex();
        });
      }
      initEventHandler();
      // カラーパレット情報を初期化する
      initColorPalette();
    }
  </script>
  <script>
  var undoList = [];
  var canvas = document.getElementById("canvas");
  var context = canvas.getContext("2d");

  canvas.addEventListener("mousedown", function(e) {
    var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
    undoList.push(function() {
      context.putImageData(imageData, 0, 0);
    });
  });

  document.getElementById("undo").addEventListener("click", function() {
    if (undoList.length > 0) {
      undoList.pop()();
    }
  });
  </script>
  <script>
  var sendImage = function (evt) {
    var canvas = document.getElementById("canvas");
    var data = canvas.toDataURL("image/png");
    var org = document.getElementById('pre').src;
    //data = data.replace('data:image/png;base64,', '');
    //org = org.replace('data:image/png;base64,', '');
    $('<form/>', {action: '/send', method: 'post'})
      .append($('<input/>', {type: 'hidden', name: 'image', value: data}))
      .append($('<input/>', {type: 'hidden', name: 'org', value: org}))
      .appendTo(document.body)
      .submit();
    };
  $('#send').bind('click', sendImage);
  </script>
  <script src="/static/js/colorjoe.min.js"></script>
</body>
</html>
